button {
    background-color: beige;
    padding-top: none;
    border-radius: 0;
}

.contenedor{
    display: flex;
    align-items: center;
    align-content: center;
}

button{
    margin:0 20px ; 
    padding: 2px;
}